{% extends "layout.html" %}
{% load static %}

{% block body %}

    <!-- <h1 style="color:blue">Test del html, pasando el nombre del sitio, {{nombre_sitio}} desde python/django</h1>
    <h2 style="color: red">Test Test Test pasando lista desde python/django {{lista}}</h2>
    <p style="color: rgb(51, 153, 153); background-color: black;">
    Prueba del html bla bla bla bla
    <header></header>
    </p> -->
    <!-- <div>div 1</div>
    <div>div 2</div>
    <div>div 3</div> -->
<h1 class="text-center">HM-NET</h1>
<h4 class="text-center">Sobre nosotros</h4>
<div class="fluid py-3">
    <div class="card" style="background-color: antiquewhite;">
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                <div class="card">
                    <!-- <a href="/recuperacion_datos" class="text-reset"> -->
                        <!-- <img src="/media/drhdd.jpg" class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <h5 class="card-title">Sobre nosotros</h5>
                                <p class="card-text"></p>
                                <p>HM-NET Recuperacion de datos es una Empresa de jóvenes profesionales que cuenta con más de 20 años de existencia, brindando servicios relacionados a la pérdida de información de medios magnéticos, ópticos y digitales. Nuestros servicios se basan en unas premisas básicas, que son: Excelencia, Calidad y Ética. Nuestra mayor importancia es cumplir y superar las expectativas de nuestros clientes, brindándoles un servicio acorde a sus requerimientos implementando los últimos avances tecnológicos disponibles. Para HM-NET la satisfacción del cliente es sumamente importante, es por esto que todos nuestros servicios son garantidos. Tenemos el agrado de poder decir que a la fecha hemos brindado nuestros servicios a más de 3000 clientes de todo el país y del exterior, lo cual, para nosotros, es una gran satisfacción y motiva nuestro marcado entusiasmo por brindar servicios de alto valor agregado.</p>

                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <div class="card">
                        <!-- <a href="/recuperacion_datos" class="text-reset"> -->
                            <!-- <img src="/media/drhdd.jpg" class="card-img-top" alt="..."> -->
                                <div class="card-body">
                                    <h5 class="card-title">Nuestra Mision y Compromiso</h5>
                                    <p class="card-text"></p>
                                    <p>Solucionar los problemas de perdida de datos mas diversos que puedean presentarse. Dar solucion a cuestiones de almacenamiento, sistemas de resguardo de datos y administracion de datos . Ofrecer a nuestros clienentes un servicio de vanguardia, donde implementamos las ultimas tecnologias diponibles aplicadas a la recuperacion de datos. Superarnos diariamente con investigacion constante sobre la tecnologia que nos compete y el constante diseño e implementacion de herramientas y tecnicas propias.</p>
                                    <p>En HM-NET recuperacion de datos estamos totalmente comprometidos a brindar un servicio de excelencia, a una politica de fijacion de precios clara y NO discriminatoria. Estamos totalmente comprometidos con la confidencialidad de los datos, es por eso que la garantizamos de forma contractual si el cliente lo requiere. Todos nuestros trabajos son garantidos.</p>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
              
{% endblock %}