{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
        <meta name="keywords" content="{{ palabras_clave }}" />
        <meta name="description" content="{{ descripcion }}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    </head>

    <body>
        <h1 style="color:blue">Test del html, pasando el nombre del sitio, {{nombre_sitio}} desde python/django</h1>
        <h2 style="color: red">Test Test Test pasando lista desde python/django {{lista}}</h2>
        <p style="color: rgb(51, 153, 153); background-color: black;">
        Prueba del html bla bla bla bla
        <!-- </p>
        <div>div 1</div>
        <div>div 2</div>
        <div>div 3</div> -->
    </body>
</html>