{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container-fluid" style="background-color: #8CB8C7">
        <br>
        <!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'index' %}">
        <img src="/media/logo5.png" alt="HM-NET Recuperacion de datos" class="d-inline-block align-text-top">
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store_index' %}">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'busqueda_ajax' %}">Buscar Prod</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Servicios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="{% url 'recuperacion_datos' %}">Recuperacion De Datos</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'electronics' %}">Reparaciones Electronicas</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'dev' %}">Dev</a>
            </li>
          </ul>
        </li>
      </ul>
      
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->

      <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-shopping-cart"></i>
          <span class="badge rounded-pill badge-notification bg-danger">{{ total_carro }}</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Checkout</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Ver Carrito</a>
          </li>
        </ul>
      </div>

      <!-- Notifications -->
      <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div>
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="/media/usuario.png"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar">

          {% if request.user.is_staff  %}
            <li>
              <a class="dropdown-item" href="/admin">Admin</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'administracion_servicios' %}">Panel Servicios</a>
            </li>
            <li>
              <a class="dropdown-item" href="/usuarios/logout">Logout: {{request.user.username.capitalize}}</a>
            </li>
          {% elif request.user.is_authenticated %}
            <li>
              <a class="dropdown-item" href="/usuarios/logout">Logout: {{request.user.username.capitalize}}</a>
            </li>
          {% else %}
            <li>
              <a class="dropdown-item" href="/usuarios/login">Login</a>
            </li>
            <li>
              <a class="dropdown-item" href="/usuarios/registro">Registro</a>
            </li>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
        <br>
</div>

<div class="container-fluid" style="background-color: #8CB8C7">
  <br>
  <br>
<header class="bg-dark p-2">
  <div class="container px-2 px-lg-3 my-3">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Bienvenido al Store de HM-NET</h1>
          <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
      </div>
  </div>
</header>
</div>

<main class="container-fluid" style="background-color: rgb(140, 184, 199);">
    <section class="row">

            {% block body %}
            {% endblock %}

    </section>

</main>

<!-- ***************************************************************************
FOOTER
*************************************************************************** -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Contactate a travez de nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>HM-Net Argentina
            </h6>
            <p>
              Aca Veremos de poner alguna informacion en esta columna
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Productos
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Links Utiles
            </h6>
            <p>
              <a href="#!" class="text-reset">Recuperacion de datos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Electronics</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Dev</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Store</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              <a href="{% url 'contacto' %}">Enviar Mensaje</a>
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> 11-4981-6208</p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 54-11-3602-9206</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color:  #f0f0f0;">
      © 1998 - 2023 Copyright:
      <a class="text-reset fw-bold" href="http://www.hm-net.com.ar">HM-NET Argentina</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    
</div>



{% endblock %}
